* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    margin: 2rem 2rem 2rem 0;
    width: 50vh;
    height: 50vh;
    box-shadow: 0 0 28px 4px rgba(187, 116, 116, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    text-align: center;
    border-radius: 1rem;
}

.card:hover {
    transform: scale(1.1);
}

.card_title {
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 1rem;
    padding: 1rem;
}

.card_image {
    text-align: center;
    justify-content: flex-end;
    width: 100%;
}

.card_image img {
    border-radius: 50%;
    border: 5px solid white;
}

.profile-top {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    border-radius: 1rem;
}

.profile-bottom {
    padding: 3rem 3rem 1rem 3rem;
}